*-stamp
*.la
*.lo
*.tar.gz
*.o
*.man
*.exe
*.swp
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
libltdl
missing
m4
stamp-h1
srmcmd
srmdump
srmsync
autoscan.log
configure.scan
srmio_config.h
